.git
.github
.venv
venv
__pycache__
*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
.coverage.*
coverage.xml
htmlcov
.env
.env.*
instance/*.db
instance/*.sqlite
instance/cache
tests
notebooks/.ipynb_checkpoints
docs/**/*.drawio.bkp
